.common-footer-module {
  border-top: 1px solid rgba(239,239,239,1);
  margin: 80px auto 40px auto;
  padding: 25px;
  max-width: $content-width;
  .common-footer-xs-m {
    @media screen and (max-width: 767px) {
      margin-left: 17%;
    }
  }
  .common-footer-title {
    font-size: 17px;
    color: rgba(74,74,74,1);
    margin-bottom: 15px;
  }
  .common-footer-content {
    font-size: 14px;
    color: rgba(74,74,74,1);
    margin-bottom: 5px;
  }
  .common-footer-copyright {
    font-family: "arial";
    font-size: 14px;
    color: rgba(74,74,74,1);
    margin-top: 20px;
  }
  .common-footer-link {
  }
  .common-footer-ido {
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 50px;
    }
    .common-footer-logo {
      margin-bottom: 15px;
      img{
        height: 28px;
      }
    }
  }
}
