<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col w dk b-r bg-auto second_nav_gray">
        <div class="panel no_border" draggable="true" style="position:fixed;width:199px;">
            <div class="list-group" ng-if="true">
                <li ui-sref="app.emenu.air" class="list-group-item second_nav_body" style="border-bottom:1px solid lightgrey;">
                    <a>空气质量分析预测</a>
                </li>
            </div>
            <div class="list-group" ng-if="true">
                <li ui-sref="app.emenu.water" class="list-group-item second_nav_body" style="border-bottom:1px solid lightgrey;">
                    <a>水质量评价分析</a>
                </li>
            </div>
        </div>
    </div>
    <div class="col">
        <div ui-view ></div>
    </div>
</div>