.puck-background-section{
  width: 100%;
  min-height: 740px;
  background-color: $background-gray;
  padding-top : 79px;
  padding-bottom: 20px;

  .person-manage-section {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: $person-manage-width;
    min-height: $person-manage-height;
    background-color: white;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 30px;

    .tab-list-section {
      width: 120px;
      text-align: center;
      font-size: 14px;
      color: black;
    }

    .personal-info-section {
      min-height: 480px;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 14px;
      border-color: $background-gray;
      border-width: 1px;
      border-style: solid;

      //个人管理条目
      .person-info-item {
        margin: 0px 11px 0px 10px;
        border-style: solid;
        border-bottom-width: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: $background-gray;
      }

      //个人管理标签名称
      .label-text {
        float: left;
        width: 190px;
        padding-top: 24px;
        margin-bottom: 0px;
        padding-bottom: 21px;
        color: $background-gray;
        font-size: 14px;
        font-family: '黑体';
        font-weight: normal;
      }
      
      //个人管理标签内容
      .label-content {
        width: 460px;
        padding-top: 24px;
        padding-bottom: 21px;
        padding-right: 88px;
        margin-bottom: 0px;
        min-height: 59px;
        font-size: 14px;
        font-family: '黑体';
        font-weight: normal;
        color: rgb(74,74,74);
      }

      //个人管理标签修改
      .label-button-section {
        float: right;
        margin-right: 11px;
        margin-bottom: 0px;
        padding-top: 24px;
        padding-bottom: 21px;
      }

      #person-icon-img {
        width: 80px;
        height: 80px;
        margin-bottom: 9px;
      }
    }

    .change-pwd-section {
      min-height: 480px;
      margin-top: 20px;
      border-color: $background-gray;
      border-width: 1px;
      border-style: solid;

      .change-pwd {
        margin: 20px 11px 0px 10px;

        .change-pwd-text {
          margin: 0 auto;
          color: black;
          font-family: '黑体';
          font-weight: bold;
          font-size: 12px;
        }

        .change-pwd-form {
          margin: 1px 0px 0px 0px;
          padding-bottom: 22px;
          border-style: solid;
          border-bottom-width: 1px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-color: $background-gray;

          .change-pwd-item {
            margin: 20px 401px 0px 0px;

            .change-pwd-label {
              margin-top: 11px;
              font-size: 12px;
              font-family: '黑体';
              font-weight: normal;
            }
            .change-pwd-input {
              float: right;
              padding: 0px;
              width: 183px;
              height: 34px;
            }
          }
        }
        .change-pwd-submit {
          margin: 18px 0px 0px 247px;
        }
      }
    }
    .verification-apply-section {
      min-height: 480px;
      margin-top: 20px;
      padding-top: 110px;
      text-align: center;
      border-color: $background-gray;
      border-width: 1px;
      border-style: solid;

      img {
        width: 180px;
        height: 148px;
      }
    }
  }
}

.tail-section {
  width: 100%;
  min-height: 51px;
  background-color: white;
}