<!-- 大标题开始  -->
<div class="wrapper lter b-b bg-white">
    <div class="subview3_title">人口结构分析预测BI</div>
</div>
<!-- 大标题结束  -->

<div class="wrapper">
    <div class="details-content">

        <!--第一模块开始-->
        <div class="zzh-container" style="width:1200px" >            
            <div class="panel panel-primary" style="margin-top: 50px;">
                
                <div class="topbar">
                    <h4 class="cgq_title">常住人口结构分析预测</h4>
                </div>

                <div class="panel-body" style="padding-top:0px;padding-bottom:0px;">
                    
                    <!-- 添加空的div，填充竖线 -->
                    <div class="row" style="width:1198px;height:22px;">
                        <div class="col-md-8 chart-panel" style="height:100%"></div>
                    </div>

                    <div class="row">

                        <!--太仓市人口结构图  开始-->
                        <div class="col-md-8 chart-panel ">
                            <highchart id="age_ration" config="age_ration" style="height: 570px" style="float:left"></highchart>
                        </div>
                        <!--太仓市人口结构图  结束-->

                        <div class="col-md-4">

                            <!--绿色方块开始-->
                            <div class="col-md-12" style="padding-top:0.5em;padding-left:0px;margin-top:-20px;">
                                <div class="block panel padder-v cgq_bg-lightgreen item cgq_marginaround1em cgq_contentwidth">
                                    <span class="text-white font-thin h1 block"><span id="oldManProportion">32.08</span>%</span>
                                    <span class="text-white text-xs"><span id="populationPreYear1">2020</span>年老年人比例预测值</span>
                                </div>
                            </div>
                            <!--绿色方块结束-->
                            <!--黄色方块开始-->
                            <div class="col-md-12 " style="padding-top:0.5em;padding-left:0px">
                                <div class="block panel padder-v cgq_bg-lightyellow item cgq_marginaround1em cgq_contentwidth;" >
                                    <span class="text-white font-thin h1 block">
                                        <span id="sexRatio">105.11：100</span>
                                    </span>
                                    <span class="text-white text-xs">
                                        <span id="populationPreYear">2020</span>年男性人数：女性人数
                                    </span>
                                </div>
                            </div>
                            <!--黄色方块结束-->

                            <div class="ioc-panel-desc">
                                <!--人口结构分析预测  一句话解读  开始-->
                                <div class="pull-left" >
                                    <br /> <br />
                                    <span class="fa-stack fa-lg" style="margin-left:4px">
                                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                                        <i class="icon-bulb fa-stack-1x text-white fa-spin icon-bulb-position"></i>
                                    </span>
                                    <span class="h4">一句话解读</span>
                                    <br />
                                    <div class="media-body clear" style="width:100%;margin-left:9px;padding-right:26px" >
                                        <small class="block m-t-xs">
                                            <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;"><span id="abc">数据分析：60岁及以上人口比例从2015的 31.02% 增加到2020的 32.08%。</span></div>
                                        </small>
                                        <small class="block m-t-xs">
                                            <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;"><span id="conclusion">结论：太仓市人口结构呈现不断老龄化趋势。</span></div>
                                        </small>
                                        <small class="block m-t-xs">
                                            <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;"><span>常住人口结构分析预测采用的是灰色预测模型。</span></div>
                                        </small>                                                    
                                    </div>
                                </div>
                                <!--人口结构分析预测  一句话解读  开始-->

                                <!--未显示出来-->
                                <div style="width:369px;height:1px;margin:15px auto;padding:0px;background-color:#FFFFFF;overflow:hidden;"></div>


                                <!--年份选择按钮-->
                                <div class="btn-group dropdown">
                                    <br /> <br />
                                    <button class="btn btn-success" data-toggle="dropdown" aria-expanded="true" style="width:8em;margin-left:10px;">年份选择<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="bttn in buttonMap" ng-model="myYear"><a ng-click="btn_click(bttn)" ng-model="predictionModal" btn-radio="bttn.radio">{{bttn.label}}</a></li>
                                    </ul>
                                </div>


                                <br /><br />

                                <!--详细数据列表按钮-->
                                <div class="col-md-12 cgq_marginaround1em" style="margin-left:-5px;">
                                    <button ng-click="showPopulationDetail()"  class="btn m-b-xs btn-primary cgq-fixed-buttonwidth">详细数据列表</button>
                                </div>

                            </div>
                            <!--1/3-->
                        </div>

                        <!--表格前的横线 开始-->
                        <div style="width:1198px;height:1px;margin:auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
                        <!--表格前的横线 结束-->

                        <!--人口结构分析预测 数据详情表格 开始-->
                        <div class="bg-white fc-datatable"  ng-if="totalshow" style="border:0px;">
                            <div class="panel panel-default paddingmargin0em">

                                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                    <div class="panel-heading"><center>2015年数据详情</center></div>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <th ng-repeat="year in years">{{year}}</th>
                                    </tr>

                                    <tr class="ng-scope ng-isolate-scope">
                                        <td ng-repeat="num in male15">{{num}}</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td ng-repeat="num in female15">{{num}}</td>
                                    </tr>
                                </table>
                                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                    <div class="panel-heading"><center>{{pyear}}年数据详情</center></div>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <th ng-repeat="year in years">{{year}}</th>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>男性</td>
                                        <td ng-repeat="num in manpre track by $index"> {{num}}%</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td >女性</td>
                                        <td ng-repeat="num in womanpre track by $index">{{num}}%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--人口结构分析预测 数据详情表格 结束-->

                        <!--太仓市人口结构和预测图 开始-->
                        <div class=" col-md-12" >
                            <div class="col-md-6 chart-panel" style="padding-top:22px" >
                                <highchart id="population_year" config="population_year" style="width:98%;height:500px"></highchart>
                            </div>
                            <div class="col-md-6" style="padding-top:22px">
                                <highchart id="population_prediction_year" config="population_prediction_year" style="width:98%;height:500px"></highchart>
                            </div>

                        </div>
                        <!--太仓市人口结构和预测图 结束-->

                    </div>

                </div>

            </div>
        </div>
        <!--第一模块结束-->


        <!--第二模块开始-->
        <div class="zzh-container" style="width:1200px;">
            <div class="panel panel-primary" style="margin-top: 50px;">

                <div class="topbar">
                    <h4 class="cgq_title">常住人口总量分析预测</h4>
                </div>

                <div class="panel-body" style="padding-top:0px;padding-bottom:0px;">
                    
                    <!-- 添加空的div，填充竖线 -->
                    <div class="row" style="width:1198px;height:22px;">
                        <div class="col-md-8 chart-panel" style="height:100%"></div>
                    </div>

                    <div class="row">
                        
                        <!--太仓市人口总量预测趋势图  开始-->
                        <div class="col-md-8 chart-panel" style="height:450px">
                            <highchart id="sumpopulation" config="sumpopulation" style="height: 450px"></highchart>
                        </div>
                        <!--太仓市人口总量预测趋势图  结束-->

                        <div class="col-md-4">
                            <p class="fill-margin"></p>
                            <div class="ioc-panel-desc">
                                <p class="ioc-panel-desc-title"></p>
                                <div style="height:3px"></div>
                            </div>

                            <!--人口总量预测分析  一句话解读  开始-->
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x text-info"></i>
                                    <i class="icon-bulb fa-stack-1x text-white fa-spin icon-bulb-position"></i>
                                </span>
                                <span class="h4">一句话解读</span>
                                <br />
                                <div class="media-body clear" style="width:100%;margin-left:9px;padding-right:26px" >
                                    <small class="block m-t-xs">
                                        <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;">数据分析:<span id="a">60岁及以上人口比例从2015的 31.02% 增加到2020的 32.08%。</span></div>
                                    </small>
                                    <small class="block m-t-xs">
                                        <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;">结论：<span id="sumconclusion">总体来看，太仓市的人口总量处于平稳状态，呈增长趋势，随着二胎政策的全面开放，促进了人口数量的增加。</span></div>
                                    </small>
                                    <small class="block m-t-xs">
                                        <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;"><span>常住人口总量分析预测采用的是灰色预测模型。</span></div>
                                    </small>
                                </div>
                            </div>
                            <!--人口总量预测分析  一句话解读  结束-->

                            <!--未显示出来-->
                            <div style="width:369px;height:1px;margin:15px auto;padding:0px;background-color:#FFFFFF;overflow:hidden;"></div>

                            <!--年份选择按钮-->
                            <div class="btn-group dropdown">
                                <button class="btn btn-success" data-toggle="dropdown" aria-expanded="false" style="width:8em;margin-left:10px;">年份选择<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="bttn in buttonMap1"><a ng-model="predictionModal" style="margin-bottom:1px;" btn-radio="bttn.radio" ng-click="btn_click1(bttn)">{{bttn.label}}</a></li>
                                </ul>
                            </div>

                            <br /><br />
                            <!--详细数据列表按钮-->
                            <div class="col-md-12 cgq_marginaround1em" style="margin-left:-5px;">
                                <button ng-click="showPopulationDetail1()"  class="btn m-b-xs btn-primary cgq-fixed-buttonwidth">详细数据列表</button>
                            </div>

                        </div>

                        <!--表格前的横线 开始-->
                        <div style="width:1198px;height:1px;margin:auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
                        <!--表格前的横线 结束-->

                        <!--人口结构分析预测 数据详情表格 开始-->
                        <div class="bg-white fc-datatable" ng-if="totalshow1" style="border:0px;">
                            <div class="panel panel-default paddingmargin0em"> 
                                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                    <div class="panel-heading"><center>{{sumyear}}年数据详情</center></div>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>年份</td>
                                        <td ng-repeat="year in sumpopulation.options.xAxis[0].categories">{{year}}</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>人口总数</td>
                                        <td ng-repeat="num in sumpeople track by $index"> {{num}}</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>人口增长率</td>
                                        <td ng-repeat="num in growth track by $index">{{num}}%</td>
                                    </tr>
                            </table>
                        </div>
                        <!--人口结构分析预测 数据详情表格 结束-->

                    </div>

                </div>

            </div>
        </div>
        <!--第二模块结束-->


        <!--第三模块开始-->
        <div class="zzh-container" style="width:1200px" >
            <div class="panel panel-primary" style="margin-top: 50px;">
                
                <div class="topbar">
                    <h4 class="cgq_title">当前各乡镇常住人口自然增长率分析</h4>
                </div>

                <div class="panel-body" style="padding-top:0px;padding-bottom:0px;">

                    <!-- 添加空的div，填充竖线 -->
                    <!--暂时不需要-->

                    <div class="row">
                        
                        <!--太仓市地图  开始-->
                        <div class="col-md-8 chart-panel">
                            <div style="margin-top:8px;margin-bottom:8px;margin-left:15px;">
                                <div id="conMap"></div>
                            </div>
                        </div>
                        <!--太仓市地图  结束-->

                        <div class="col-md-4">
                            
                            <p class="fill-margin"></p>
                            <div class="ioc-panel-desc">
                                <p class="ioc-panel-desc-title">
                                    <div style="background:#929dce;width:115px;height:30px;text-align:center;line-height:30px;font-size:15px;color:#FFFFFF;font-weight:bold" style="margin-left:-5px;">说明信息</div>
                                </p>
                                <div style="height:3px"></div>
                                <h5><span style="color:#CC0033">红色框------该乡镇人口自然增长率为负</span></h5>
                                <h5><span style="color:#66cc66">绿色框------该乡镇人口自然增长率为正</span></h5>
                                <br />
                                <div style="background:#929dce;width:115px;height:30px;text-align:center;line-height:30px;font-size:15px;color:#FFFFFF;font-weight:bold" >结果解读</div>
                                <br><br>
                                <p style="margin-right:10px">从图中可以看出太仓各乡镇的人口自然增长率情况；</p>
                                <br>
                                <div class="col-md-12 cgq_marginaround1em" style="margin-left:-15px;">
                                    <button ng-click="showPopulationDetail2()"  class="btn m-b-xs btn-primary cgq-fixed-buttonwidth">详细数据列表</button>
                                </div>
                            </div>

                        </div>

                        <!--表格前的横线 开始-->
                        <div style="width:1198px;height:1px;margin:auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
                        <!--表格前的横线 结束-->

                        <!--各城镇数据详情 开始-->
                        <div class="bg-white fc-datatable" ng-if="totalshow2" style="border:0px;">
                            <div class="panel panel-default paddingmargin0em">  
                                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                    <div  class="panel-heading"><strong><center>各城镇数据详情</center></strong></div>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>城镇名称</td>
                                        <td ng-repeat="year in townsname">{{year}}</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>出生率</td>
                                        <td ng-repeat="num in birthrate track by $index"> {{num}}</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>死亡率</td>
                                        <td ng-repeat="num in deathrate track by $index">{{num}}</td>
                                    </tr>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>人口自然增长率</td>
                                        <td ng-repeat="num in populationrate track by $index">{{num}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--各城镇数据详情 结束-->

                    </div>

                </div>

            </div>
        </div>
        <!--第三模块结束-->

    </div>
</div>







