<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tiger.common.dal.persistence.mapper.PowerGdpCorrelationEnterpriseSoloMapper" >
    <resultMap id="BaseResultMap" type="tiger.common.dal.persistence.power.PowerGdpCorrelationEnterpriseSoloDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="year" property="year" jdbcType="BIGINT" />
        <result column="season" property="season" jdbcType="BIGINT" />
        <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
        <result column="real_enterprise_power" property="realEnterprisePower" jdbcType="VARCHAR" />
        <result column="forcast_enterprise_power" property="forcastEnterprisePower" jdbcType="VARCHAR" />
        <result column="real_enterprise_gdp" property="realEnterpriseGdp" jdbcType="VARCHAR" />
        <result column="forcast_enterprise_gdp" property="forcastEnterpriseGdp" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getPowerGdpCorrelationEnterpriseSoloDOList" resultMap="BaseResultMap">
        select * from enterprise_data_forcast
        <where>
            enterprise_id = #{enterpriseId, jdbcType=VARCHAR} and year &gt;= #{startYear, jdbcType=VARCHAR} and year &lt;= #{endYear, jdbcType=VARCHAR}
            <if test="season != null" >
                AND season = #{season, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByYearSeasonId" resultMap="BaseResultMap">
        select * from enterprise_data_forcast
        where
        year = #{year, jdbcType=BIGINT} and enterprise_id = #{enterpriseId, jdbcType=BIGINT} and season = #{season, jdbcType=BIGINT}
    </select>
    <update id="updateByPrimaryKey">
        update enterprise_data_forcast
        set
        create_time = #{createTime, jdbcType=TIMESTAMP},
        year = #{year, jdbcType=BIGINT},
        season = #{season, jdbcType=BIGINT},
        enterprise_id = #{enterpriseId, jdbcType=BIGINT},
        real_enterprise_gdp = #{realEnterpriseGdp, jdbcType=DOUBLE},
        forcast_enterprise_gdp = #{forcastEnterpriseGdp, jdbcType=DOUBLE},
        real_enterprise_power = #{realEnterprisePower, jdbcType=DOUBLE},
        forcast_enterprise_power = #{forcastEnterprisePower, jdbcType=DOUBLE},
        modify_time = CURRENT_TIMESTAMP
        where
        id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        insert into enterprise_data_forcast
        <trim prefix="(" suffix=")" suffixOverrides=",">
            year,
            season,
            enterprise_id,
            real_enterprise_gdp,
            forcast_enterprise_gdp,
            real_enterprise_power,
            forcast_enterprise_power,
            create_time,
            modify_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{year,jdbcType=BIGINT},
            #{season, jdbcType=BIGINT},
            #{enterpriseId, jdbcType=BIGINT},
            #{realEnterpriseGdp, jdbcType=DOUBLE},
            #{forcastEnterpriseGdp, jdbcType=DOUBLE},
            #{realEnterprisePower, jdbcType=DOUBLE},
            #{forcastEnterprisePower, jdbcType=DOUBLE},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        </trim>
    </insert>
</mapper>