<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tiger.common.dal.persistence.mapper.PowerGdpCorrelationIndustryMapper" >
    <resultMap id="BaseResultMap" type="tiger.common.dal.persistence.power.PowerGdpCorrelationIndustryDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="year" property="year" jdbcType="BIGINT" />
        <result column="season" property="season" jdbcType="BIGINT" />
        <result column="industry_id" property="industryId" jdbcType="BIGINT" />
        <result column="real_industry_power" property="realIndustryPower" jdbcType="DOUBLE" />
        <result column="forcast_industry_power" property="forcastIndustryPower" jdbcType="DOUBLE" />
        <result column="real_industry_gdp" property="realIndustryGdp" jdbcType="DOUBLE" />
        <result column="forcast_industry_gdp" property="forcastIndustryGdp" jdbcType="DOUBLE" />
    </resultMap>
    <select id="getPowerGdpCorrelationIndustryDOList" resultMap="BaseResultMap">
        select * from industry_data_forcast
        where
        season = #{season,jdbcType=VARCHAR} and year = #{year,jdbcType=VARCHAR}
    </select>
    <select id="getPowerGdpCorrelationIndustrySoloDOList" resultMap="BaseResultMap">
        select * from industry_data_forcast
        <where>
            industry_id = #{industryId, jdbcType=VARCHAR} and year &gt;= #{startYear, jdbcType=VARCHAR} and year &lt;= #{endYear, jdbcType=VARCHAR}
            <if test="season != null" >
                AND season = #{season, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByYearSeasonId" resultMap="BaseResultMap">
        select * from industry_data_forcast
        where
        year = #{year, jdbcType=BIGINT} and industry_id = #{industryId, jdbcType=BIGINT} and season = #{season, jdbcType=BIGINT}
    </select>
    <update id="updateByPrimaryKey">
        update industry_data_forcast
        set
        create_time = #{createTime, jdbcType=TIMESTAMP},
        year = #{year, jdbcType=BIGINT},
        season = #{season, jdbcType=BIGINT},
        industry_id = #{industryId, jdbcType=BIGINT},
        real_industry_gdp = #{realIndustryGdp, jdbcType=DOUBLE},
        forcast_industry_gdp = #{forcastIndustryGdp, jdbcType=DOUBLE},
        real_industry_power = #{realIndustryPower, jdbcType=DOUBLE},
        forcast_industry_power = #{forcastIndustryPower, jdbcType=DOUBLE},
        modify_time = CURRENT_TIMESTAMP
        where
        id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        insert into industry_data_forcast
        <trim prefix="(" suffix=")" suffixOverrides=",">
            year,
            season,
            industry_id,
            real_industry_gdp,
            forcast_industry_gdp,
            real_industry_power,
            forcast_industry_power,
            create_time,
            modify_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{year,jdbcType=BIGINT},
            #{season, jdbcType=BIGINT},
            #{industryId, jdbcType=BIGINT},
            #{realIndustryGdp, jdbcType=DOUBLE},
            #{forcastIndustryGdp, jdbcType=DOUBLE},
            #{realIndustryPower, jdbcType=DOUBLE},
            #{forcastIndustryPower, jdbcType=DOUBLE},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        </trim>
    </insert>
</mapper>