<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tiger.common.dal.persistence.mapper.PowerGdpCorrelationEnterpriseAverageMapper" >
    <resultMap id="BaseResultMap" type="tiger.common.dal.persistence.power.PowerGdpCorrelationEnterpriseAverageDO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="year" property="year" jdbcType="BIGINT" />
        <result column="real_gdp_value" property="realGdpValue" jdbcType="DOUBLE" />
        <result column="forcast_gdp_value" property="forcastGdpValue" jdbcType="DOUBLE" />
        <result column="real_power_value" property="realPowerValue" jdbcType="DOUBLE" />
        <result column="forcast_power_value" property="forcastPowerValue" jdbcType="DOUBLE" />
    </resultMap>
    <select id="getPowerGdpCorrelationEnterpriseAverageDOList" resultMap="BaseResultMap">
        select * from enterprise_average_forcast
        where
        year &gt;= #{startYear, jdbcType=VARCHAR} and year &lt;= #{endYear, jdbcType=VARCHAR}
    </select>
</mapper>
