<div  style="padding:20px;">
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			人口结构数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm">
					<label class="" for="powerSelectYear">年份:</label>
					<select id="powerSelectYear" class="form-control width-power">
						<option ng-repeat="year in fourYear">{{year}}</option>
					</select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="powerEnterpriseSelectQuarter">性别:</label>
					<select id="powerEnterpriseSelectQuarter" class="form-control width-power">
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
					<div class="form-group m-r-sm">
						<label class="" for="power-enterprise-power">年龄:</label>
						<div class="input-group width-power">
							<input class="form-control" id="power-enterprise-power" placeholder="0-99的数值">
						</div>
					</div>
					<div class="form-group m-r-sm">
						<label class="" for="power-enterprise-gdp">人口数量:</label>
						<div class="input-group width-power">
							<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
						</div>
					</div>
					<button class="btn w-xs btn-default btn-datainsert">提交</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			劳动力就业数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label class="" for="powerSelectYear">年份:</label>
					<select id="powerSelectYear" class="form-control width-power">
						<option ng-repeat="year in fourYear">{{year}}</option>
					</select>
				</div><br><br>
				<div class="form-group m-r-sm">
					&nbsp;&nbsp;&nbsp;<label class="" for="power-enterprise-power">劳动力人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-power" placeholder="请输入">
					</div>
				</div>
				<div class="form-group m-r-sm">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="" for="power-enterprise-power">就业人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-power" placeholder="请输入">
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">第一产业人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div><br><br>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">第二产业人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">第三产业人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div>
				<div class="form-group m-r-sm">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label class="" for="power-enterprise-gdp">保险:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div><br><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn w-xs btn-default btn-datainsert">提交</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			人口受教育程度数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label class="" for="powerSelectYear">年份:</label>
					<select id="powerSelectYear" class="form-control width-power">
						<option ng-repeat="year in fourYear">{{year}}</option>
					</select>
				</div>
				<div class="form-group m-r-sm">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label class="" for="power-enterprise-power">城镇名称:</label>
					<div class="input-group width-power">
						<select id="powerIndustrySelectQuarter" ng-model="powerIndustrySelectQuarter" class="form-control width-power">
							<option value="1">城厢镇</option>
							<option value="2">沙溪镇</option>
							<option value="3">璜泾镇</option>
							<option value="4">双凤镇</option>
							<option value="1">浮桥镇</option>
							<option value="2">沙溪镇</option>
						</select>
					</div>
				</div><br><br>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">小学文化人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">中学文化人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">大学文化人口:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入">
					</div>
				</div><br><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn w-xs btn-default btn-datainsert">提交</button>
			</form>
		</div>
	</div>
</div>