<div class="insert-economy-module">
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			用电总体数据
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm">
					<label class="" for="powerTotalSelectYear">年度:</label>
					<select id="powerTotalSelectYear" ng-model="powerTotalSelectYear" class="form-control width-power">
	          <option ng-repeat="year in fourYear">{{year}}</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-total-power">太仓市工业用电量同比增长率:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-total-power" ng-model="powerTotalPowerValue" placeholder="请输入..">
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-total-gdp">太仓市GDP同比增长率:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-total-gdp" ng-model="powerTotalGdpValue" placeholder="请输入..">
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<button class="btn w-xs btn-default btn-datainsert" ng-click="submitPowerTotal()">提交</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			行业用电数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm">
					<label class="" for="powerIndustrySelectYear">年度:</label>
					<select id="powerIndustrySelectYear" ng-model="powerIndustrySelectYear" class="form-control width-power">
	          <option ng-repeat="year in fourYear">{{year}}</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="powerIndustrySelectQuarter">季度:</label>
					<select id="powerIndustrySelectQuarter" ng-model="powerIndustrySelectQuarter" class="form-control width-power">
	          <option value="1">第一季度</option>
	          <option value="2">第二季度</option>
	          <option value="3">第三季度</option>
	          <option value="4">第四季度</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="powerIndustrySelected">行业:</label>
					<select id="powerIndustrySelected" ng-model="powerIndustrySelected" class="form-control width-power">
	          <option value="3001">农、林、牧、渔</option>
	          <option value="3002">2</option>
	          <option value="3003">3</option>
	          <option value="3004">4</option>
	          <option value="3005">1</option>
	          <option value="3006">2</option>
	          <option value="3007">3</option>
	          <option value="3008">4</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-industry-power">行业用电量同比增长率:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-industry-power" ng-model="powerIndustryPowerValue" placeholder="请输入..">
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-industry-gdp">行业产值同比增长率:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-industry-gdp" placeholder="请输入..">
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<button class="btn w-xs btn-default btn-datainsert">提交</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			企业用电数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm">
					<label class="" for="powerSelectYear">年度:</label>
					<select id="powerSelectYear" class="form-control width-power">
	          <option ng-repeat="year in fourYear">{{year}}</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="powerEnterpriseSelectQuarter">季度:</label>
					<select id="powerEnterpriseSelectQuarter" class="form-control width-power">
	          <option value="1">1</option>
	          <option value="2">2</option>
	          <option value="3">3</option>
	          <option value="4">4</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="powerEnterpriseSelected">企业:</label>
					<select id="powerEnterpriseSelected" class="form-control width-power">
	          <option value="3001">上海市冬哥集团</option>
	          <option value="3002">上海市冬哥集团</option>
	          <option value="3003">上海市冬哥集团</option>
	          <option value="3004">上海市冬哥集团</option>
	          <option value="3005">上海市冬哥集团</option>
	          <option value="3006">上海市冬哥集团</option>
	          <option value="3007">上海市冬哥集团</option>
	          <option value="3008">上海市冬哥集团</option>
	        </select>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-power">企业用电量同比增长率:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-power" placeholder="请输入..">
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group m-r-sm">
					<label class="" for="power-enterprise-gdp">企业产值同比增长率:</label>
					<div class="input-group width-power">
						<input class="form-control" id="power-enterprise-gdp" placeholder="请输入..">
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<button class="btn w-xs btn-default btn-datainsert">提交</button>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			GDP数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm" style="margin-left: 7.2rem">
					<label class="" for="powerSelectYear">年度:</label>
					<select id="powerSelectYear" class="form-control width-power">
	          <option ng-repeat="year in fourYear">{{year}}</option>
	        </select>
				</div>
				<div class="form-group m-r-sm" style="margin-left: 16.5rem">
					<label class="" for="powerEnterpriseSelectQuarter">季度:</label>
					<select id="powerEnterpriseSelectQuarter" class="form-control width-power">
	          <option value="1">1</option>
	          <option value="2">2</option>
	          <option value="3">3</option>
	          <option value="4">4</option>
	        </select>
				</div>
			</form>
			<form class="form-inline ng-pristine ng-valid" role="form" style = "margin-top: 1.5rem">
				<div class="form-group m-r-sm" style="margin-left: 3rem">
							<label class="" for="powerIndustrySelected">GDP产业类型:</label>
							<select id="powerIndustrySelected" ng-model="powerIndustrySelected" class="form-control width-power btn-sm">
			          <option value="11">全行业</option>
			          <option value="12">第一产业</option>
			          <option value="13">第二产业</option>
			          <option value="14">第三产业</option>
			        </select>
				 </div>
				 <div class="form-group m-r-sm" style="margin-left: 9.5rem">
						<label class="" for="power-industry-gdp">本年度GDP目标:</label>
						<div class="input-group width-power input-group-sm">
							<input class="form-control" id="power-industry-gdp" placeholder="请输入..">
							<span class="input-group-addon">亿元</span>
						</div>
				 </div>
			</form>
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm" style = "margin-top: 1.5rem">
							<label class="" for="powerIndustrySelected">全民生产总值(GDP):</label>
							<div class="input-group input-group-sm" >
							  <input type="text" class="form-control" placeholder="请输入" aria-describedby="basic-addon2">
							  <span class="input-group-addon" id="basic-addon2">亿元</span>
							</div>
				 </div>
				 <div class="form-group m-r-sm" style = "margin-top: 1.5rem">
							<label class="" for="powerIndustrySelected">GDP同比增长率:</label>
							<div class="input-group input-group-sm" >
							  <input type="text" class="form-control" placeholder="请输入" aria-describedby="basic-addon2">
							  <span class="input-group-addon" id="basic-addon2">亿元</span>
							</div>
				 </div>
			</form>
			<button class="btn w-xs btn-default btn-datainsert" style="margin-top: 2rem;margin-left: 9.7rem">提交</button>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">
			税收数据录入
		</div>
		<div class="panel-body">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group m-r-sm" style="margin-left: 5.2rem">
					<label class="" for="powerSelectYear">年度:</label>
					<select id="powerSelectYear" class="form-control width-power">
	          <option ng-repeat="year in fourYear">{{year}}</option>
	        </select>
				</div>
				<div class="form-group m-r-sm" style="margin-left: 6rem">
					<label class="" for="powerEnterpriseSelectQuarter">月份:</label>
					<select id="powerEnterpriseSelectQuarter" class="form-control width-power">
	          <option value="1">1月</option>
	          <option value="2">2月</option>
	          <option value="3">3月</option>
	          <option value="4">4月</option>
	          <option value="1">5月</option>
	          <option value="2">6月</option>
	          <option value="3">7月</option>
	          <option value="4">8月</option>
	          <option value="1">9月</option>
	          <option value="2">10月</option>
	          <option value="3">11月</option>
	          <option value="4">12月</option>
	        </select>
				</div>
			</form>
			<form class="form-inline ng-pristine ng-valid" role="form" style = "margin-top: 1.5rem">
				 <div class="form-group m-r-sm" style="margin-left: 0rem">
						<label class="" for="power-industry-gdp">本年度税收目标:</label>
						<div class="input-group width-power input-group-sm">
							<input class="form-control" id="power-industry-gdp" placeholder="请输入..">
							<span class="input-group-addon">亿元</span>
						</div>
				 </div>
				<div class="form-group m-r-sm"  >
							<label class="" for="powerIndustrySelected">税收总值:</label>
							<div class="input-group input-group-sm" >
							  <input type="text" class="form-control" placeholder="请输入" aria-describedby="basic-addon2">
							  <span class="input-group-addon" id="basic-addon2">亿元</span>
							</div>
				 </div>
				 <div class="form-group m-r-sm" >
							<label class="" for="powerIndustrySelected">税收同比增长率:</label>
							<div class="input-group input-group-sm" >
							  <input type="text" class="form-control" placeholder="请输入" aria-describedby="basic-addon2">
							  <span class="input-group-addon" id="basic-addon2">亿元</span>
							</div>
				 </div>
			</form>
			<button class="btn w-xs btn-default btn-datainsert" style="margin-top: 2rem;margin-left: 8rem">提交</button>
		</div>
	</div>
</div>