<form class="popup-module" id="popupContact" ng-if="biz==='contact'">
	<div class="popup-title font-ch"><span>请留下您的手机号和微信</span></div>
	<div class="popup-input-block">
		<input type="text" class="popup-input" value="请输入手机号" onfocus="if (value =='请输入手机号'){value =''}" onblur="if (value ==''){ value='请输入手机号'}"/>
		<input type="text" class="popup-input" value="请输入微信号" onfocus="if (value =='请输入微信号'){value =''}" onblur="if (value ==''){ value='请输入微信号'}"/>
		<textarea type="textarea" draggable="false" class="popup-inputarea" placeholder="请输入申请理由" onfocus="if (value =='请输入申请理由'){value =''}" onblur="if (value ==''){ value='请输入申请理由'}"></textarea>
	</div>
	<button class="popup-btn" ui-sref="app.course.apply">提交申请</button>
	<div class="m-t-sm"><a class="popup-font-forgetpsw" ng-click="login()">登陆</a></div>
</form>

<form class="popup-module" ng-if="biz==='login'">
	<div class="popup-title font-ch"><span>欢迎回来</span></div>
	<div class="popup-input-block">
		<input type="text" class="popup-input" value="请输入账号" ng-model="loginUser.username" onfocus="if (value =='请输入账号'){value =''}" onblur="if (value ==''){ value='请输入账号'}"/>
		<input type="password" class="popup-input" value="请输入密码" ng-model="loginUser.password" onfocus="if (value =='请输入密码'){value =''}" onblur="if (value ==''){ value='请输入密码'}"/>
	</div>
	<button class="popup-btn" ng-click="login()">登陆</button>
	<div class="m-t-sm"><a class="popup-font-forgetpsw" ng-click="toContatct()">成为教师</a></div>
</form>

<form class="popup-module" id="add" ng-if="biz==='add'">
	<div class="popup-title font-ch"><span>创建分组</span></div>
	<div class="group-apply">
	<input type="text" class="popup-input" value="请输入组名" onfocus="if (value =='请输入组名'){value =''}" onblur="if (value ==''){ value='请输入组名'}"/>
	<button class="btn-default btn pk-btn-primay">确认</button>
	<button class="btn-default btn cancel" ng-click="cancel()">取消</button>
	</div>
</form>

<form class="popup-module" id="newVoice" ng-if="biz==='newVoice'">
	<div class="">
	</div>
</form>
