.puck-background-section {
  padding-bottom: 18px;

  .message-section {
    margin: 50px auto 20px auto;
    width: 1200px;
    min-height: 670px;
    background-color: white;
    padding: 24px 10px 0px 10px;
    position: relative;

    .message-tag-btn {
      width: 140px;
      height: 32px; 
      position: absolute;
      top: 22px;
      right: 10px;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: lighter;
    }

    .tab-list-section {
      width: 120px;
      text-align: center;
      font-size: 14px;
      color: black;
    }

    .message-items {
      margin-top: 18px;

      .message-item {
        padding: 15px 0px 15px 13px;

        .oval-icon {
          width: 40px;
          height: 40px;
        }

        .message-content {
          margin-left: 15px;
          font-family: '黑体';
          font-size: 14px;
          font-weight: normal;
        }

        .time-section {
          float: right;
          padding-top: 10px;

          .clock-icon {
            float: left;
            width: 20px;
            width: 20px;
          }

          .message-time {
            margin: 3px 0px 0px 10px;
            padding: 0px;
            font-family: '黑体';
            font-size: 14px;
            font-weight: normal;
            color: rgb(158,158,158);
          }
        }
      }
    }
  }
}