.puck-background-section{

  .person-manage-section {
    margin: 50px auto 20px auto;
    width: $person-manage-width;
    min-height: $person-manage-height;
    background-color: white;
    padding: 17px 30px 0px 30px;

    .tab-list-section {
      width: 120px;
      text-align: center;
      font-size: 14px;
      color: black;
    }

    .personal-info-section {
      padding: 10px 0px 14px 0px;

      //个人管理条目
      .person-info-item {
        margin: 0px 11px 0px 10px;
      }

      //个人管理标签名称
      .label-text {
        float: left;
        width: 190px;
        margin-bottom: 0px;
        padding: 24px 0px 21px 0px;
        color: rgb(155,155,155);
        font-size: 14px;
        font-family: '黑体';
        font-weight: lighter;
      }
      
      //个人管理标签内容
      .label-content {
        width: 460px;
        min-height: 59px;
        margin-bottom: 0px;
        padding: 24px 88px 21px 0px;
        font-size: 14px;
        font-family: '黑体';
        font-weight: lighter;
        color: rgb(74,74,74);
      }

      //个人管理标签修改
      .label-button-section {
        float: right;
        margin: 0px 11px 0px 0px;
        padding: 24px 0px 21px 0px;
      }

      #person-icon-img {
        width: 80px;
        height: 80px;
        margin-bottom: 9px;
      }
    }

    .change-pwd-section {

      .change-pwd {
        margin: 20px 11px 0px 10px;

        .change-pwd-text {
          margin: 0 auto;
          color: black;
          font-family: '黑体';
          font-weight: bold;
          font-size: 12px;
        }

        .change-pwd-form {
          margin: 1px 0px 0px 0px;
          padding-bottom: 22px;

          .change-pwd-item {
            margin: 20px 401px 0px 0px;

            .change-pwd-label {
              margin-top: 11px;
              font-size: 12px;
              font-family: '黑体';
              font-weight: normal;
            }
            .change-pwd-input {
              float: right;
              width: 183px;
              height: 34px;
              padding: 0px;
            }
          }
        }
        .change-pwd-submit {
          margin: 18px 0px 0px 247px;
        }
      }
    }
    .verification-apply-section {
      padding-top: 110px;
      text-align: center;

      img {
        width: 180px;
        height: 148px;
      }
    }
  }
}