.common-datepicker-module{
  width:760px;
  height: 50px;

  .input-group{
    width: 180px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
  }
  .search_name{
    float: right;
    padding-left: 50px;
  }
}
