<div class="vbox">
    <div class="wrapper lter b-b bg-white">
        <div class="subview3_title">克强指数</div>
    </div>
    <div class="wrapper  container"  style="padding:0px;margin-top:1em;margin-bottom:2em">
        <div class="panel panel-primary">
            <div class="topbar">
                <h4 class="cgq_title">{{currentyear}}年太仓市克强指数</h4>
            </div>
            <div class="row">
                <div class="col-md-8" style="border-right:1px solid;padding-top:10px;padding-bottom:10px">
                    <highchart config="keqiangindex"></highchart>
                </div>
                <div class="col-md-4" >
                    
                    <button class="btn btn-info" style="margin-top:10px">指标含义</button>
                    <div style="margin-top:10px;width:98%;;font-size:14px">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="width:100%">
                            "克强指数"的由来，源于李克强总理2007年任职辽宁省省委书记时，使用耗电量,铁路货运量和贷款发放量三个指标分析当时辽宁省经济状况,英国《经济学人》自2010年底正式推出这一指数后,受到花旗银行在内的众多国际机构认可。
                        </span>
                    </div>
                    <article class="media cgq_contentwidth" style="margin-top:30px">
                        <div class="pull-left">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-info"></i>
                                <i class="icon-bulb fa-stack-1x text-white fa-spin icon-bulb-position"></i>
                            </span>
                            <span class="h4">一句话解读</span>
                        </div>
                        <div class="media-body clear">
                            <small class="block m-t-xs">{{totaldata.oneword}}</small>
                        </div>
                    </article>
                    <div style="margin-top:10px;width:100%;font-size:14px">
                        <div style="display: flex;flex-direction: row;justify-content: flex-start;margin-top: 2%;margin-left: 35px">
                                    <i class="fa fa-circle" style="margin-top: 1%"></i>
                                        <div style="margin-left: 2%">
                                          <span>克强指数数据分析:本年度克强指数三大指标增长率在年度GDP增长率周围波动，经济总体呈现健康稳定状态</span>
                                        </div>
                         </div>
                    </div>
                    <div class="btn-group " style = "margin-top:15px">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            选择年份 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="keqiangchangeyear('2014')">2014</a></li>
                                <li><a ng-click="keqiangchangeyear('2015')">2015</a></li>
                                <li><a ng-click="keqiangchangeyear('2016')">2016</a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="topbar">
                <h4 class="cgq_title">2016年太仓市克强指数</h4>
            </div>
            <div class="row">
                <div class="col-md-8" style="border-right:1px solid;padding-top:10px;padding-bottom:10px">
                    <highchart config="keqiangChart"></highchart>
                </div>
                <div class="col-md-4" style="padding:10px 15px 0px 15px">
                    <div class="table-responsive" style="width:90%">
                        <table class="table" style="text-align:center">
                            <tr>
                                <th style="background-color:#16aad8;color:#ffffff;text-align:center">本年克强指数拟合GDP总量</th>
                                <th style="background-color:#16aad8;color:#ffffff;text-align:center">本年克强指数拟合GDP增长率</th>
                            </tr>
                            <tr>
                                <td >1149.52亿元</td>
                                <td >6.9%</td>
                            </tr>
                        </table>
                    </div>
                     <div class="table-responsive" style="width:30%">
                        <table class="table" style="text-align:center">
                            <tr>
                                <th style="background-color:#16aad8;color:#ffffff;text-align:center">预测参数调节</th>
                            </tr>
                        </table>
                    </div>
                    <div class="handler">
                        <div class="row">
                            <div class="col-md-4" style="margin-top:4%">
                                <p class="handler-title"><strong>中长期贷款</strong></p>
                            </div>
                            <div class="col-md-5">
                                <div class="progress-box" ng-app>
                                    <div class="percentage-cur">
                                        <span class="num">{{ selectedRange }}%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-slider" style="width:100%">
                                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding:0px 20px 20px 15px;margin-top:3px">
                                <div class="input-group input-group-sm" style="width:100%;margin-top:17px;">
                                    
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" ng-model="selectedRange"attern="((-)?[0-9]{1,2}|100|-100)"  />
                                    <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4"  style="margin-top:4%">
                                <p class="handler-title"><strong>工业用电量</strong></p>
                            </div>
                            <div class="col-md-5" >
                                <div class="progress-box" ng-app>
                                    <div class="percentage-cur" ng-init="selectedRange2=0">
                                        <span class="num">{{ selectedRange2 }}%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-slider" style="width:100%" >
                                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding:0px 20px 20px 15px;margin-top:3px">
                                <div class="input-group input-group-sm" style="width:100%;margin-top:17px;">
                                    
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" ng-model="selectedRange2"attern="((-)?[0-9]{1,2}|100|-100)"  />
                                    <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"  style="margin-top:4%">
                                <p class="handler-title"><strong>货运量</strong></p>
                            </div>
                            <div class="col-md-5">
                                <div class="progress-box" ng-app>
                                    <div class="percentage-cur" ng-init="selectedRange3=0">
                                        <span class="num">{{ selectedRange3}}%</span>
                                    </div>
                                    <div class="progress-bar progress-bar-slider" style="width:100%">
                                        <div  ui-slider="colorpicker.options" min="-100" max="100" ng-model="selectedRange3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:3px;padding:0px 20px 20px 15px">
                                <div class="input-group input-group-sm" style="width:100%;margin-top:17px;">
                                    
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" ng-model="selectedRange3"attern="((-)?[0-9]{1,2}|100|-100)"  />
                                    <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info" ng-click="reset()">双击重置调节</button>
                    </div>
                </div>
            </div>
            <div style="height:1%;width:80%;border-bottom:1px solid;margin-left:10%;margin-top:1%"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <highchart config="loanChart"></highchart>
                    </div>
                    <div class="col-md-4">
                        <highchart config="transChart"></highchart>
                    </div>
                    <div class="col-md-4">
                        <highchart config="elecChart"></highchart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>