.puck-addCourse-content{
  padding-top: 80px;
  background: #DCDCDC;
  .puck-addCourse-middle{
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width:800px;
    height:600px;
    background: white;
    .middle_header{
    width:740px;
    height: 50px;
    margin:0px auto;
    border-bottom: 1px solid #DCDCDC;
    .text_title{
      float: left;
      font-size: 20px;
      padding-top: 20px;
    }
    .text{
      color: #D3D3D3;
      float: left;
      font-size: 12px;
      padding-top: 30px;
    }
    }
    .middle_header a:link,.middle_header a:visited{
      float:right;
      padding-top: 20px;
      text-decoration: none;
      color: gray;
      font-size: 14px;
    }
    .middle_header a:link,.middle_header a:hover{
      text-decoration: none;
      color: red;
      font-size: 14px;
    }
    .middle_main{
      // background-color: gray;
      width:740px;
      height: 390px;
      margin: 20px auto;
      .inputText{
        width: 510px;
      }
      .tag_text{
        margin: 15px 0px 10px 0px;
      }
      .apply_1{
        background-color: $puckGreen;
        border: 1px solid $puckGreen;
        margin-top: 100px;
        margin-right:30px;
        float:right;
      }
    }
    .middle_main select{
      border:1px solid gray;
      width: 140px;
    }
  }
    .public{
      margin:0px auto;
      width: 800px;
      height: 250px;
      background-color: white;
      padding-left: 30px;

      .public_info{
      padding-top: 10px;
      .apply_2{
      float:right;
      background-color: $puckGreen;
      border: 1px solid $puckGreen;
      margin-right:55px;
      margin-top: 60px;
      }
      .input{
        padding-left: 40px;
        padding-top: 20px;
      }
    }
  }
  .expand{
    width: 100px;
    height: 50px;
    background-color: #DCDCDC;
  }
    .puck-addCourse-bottom{
      margin-top: 100px;
      width: 100%;
      height: 113px;
      background-color:white;
    }
    }
