<puck-course-header></puck-course-header>
<div class="puck-addCourse-content">
  <div class="puck-addCourse-middle">
    <div class="middle_header">
      <span class="text_title">开课申请</span> <span class="text">&nbsp&nbsp能够分享自己所学的人是伟大的</span>
      <a href="/main" >回到首页</a>
    </div>

    <div class="middle_main">
      <div class="tag_text">课程标题</div>
      <div><input class="inputText" placeholder=""></div>
      <div class="tag_text">课程简介</div>
      <textarea  style="resize:none;width:510px;height:120px" srows="3" cols="70">
      </textarea>
      <div class="tag_text">课程时间段</div>
      <br/><br/>
      <!-- <div ng-controller="addCourseCtrl">
      <div class="col-md-3">
          <input type="text" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" />
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
    </div>
      <div ng-controller="addCourseCtrl">
      <div  >
          <input type="text" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" />
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
      </div> -->
      <div class="tag_text">课程类型</div>
      <select onchange="option(this.options[this.options.selectedIndex].value)">>
        <option value="1">私人课程</option>
        <option value="2">公开课程</option>
      </select>
      <p id="private_area" style="display:inline; color:orange;">
      &nbsp&nbsp只有收到邀请的学员才能进入私有课程（适用于线下培训班）
      <button type="button" class=" apply_1 btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          提交课程申请
      </button>
      </p>
      <p id="public_area" style="display:none; color:orange;">
      &nbsp&nbsp公开课程所有平台用户都可以付款加入
      </p>
    </div>

    <div id="public_setting" class="public" style="display:none;">
      <div>公开课程设置</div>
      <div class="public_info">
    <div class="input">每日赌金金额&nbsp
      <input type="text"><p style="display:inline; color:orange;">&nbsp&nbsp每日赌金是学员将会放入赌金池的赌金，完成相应任务将会退还</p>
    </div>
    <div class="input">
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp基础费用&nbsp&nbsp
      <input type="text" ><p style="display:inline; color:orange;">&nbsp&nbsp基础费用是参加课程的费用，无需退还</p>
    </div>
      <button type="button" class="apply_2 btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          提交课程申请
      </button>
    </div>
    </div>
    </div>

    <div  id="expand" class="expand" style="display:none;">
    </div>

    <div class="puck-addCourse-bottom">
    </div>
</div>
<!-- 判断函数 -->
<script>
function option(s)
{
  if(1==s){
  private_area.style.display = "inline";
  public_area.style.display = "none";
  public_setting.style.display = "none";
  expand.style.display = "none";
  }
  if(2==s){
  private_area.style.display = "none";
  public_area.style.display = "inline";
  public_setting.style.display = "block";
  expand.style.display = "block";
  }
}
</script>
