.inner-header-module {
    position: fixed;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #E3E3E3;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);

    .inner-header-line {
    height: 5px;
    width: 100%;
    background-color: $puckGreen;
    }

    .inner-header-content {
        width: $content-width;
        margin: 0 auto;
        // logo section
        .logo-section {
            float: left;
            padding-top: 20px;
            img {
            height: 30px;
            }
        }

        .menu-section {
            float: right;
            padding-top: 15px;
            width: 200px;
            img {
                float: left;
                height: 45px;
            }

            .user-info-section {
                float: left;
                margin-left: 6px;

                .userlabel-section {
                    width: 100%;
                    
                    .userIdentify-label {
                        float: left;
                        height: $user-label-height;
                        width: $user-label-width;
                        margin-right: 5px;
                        text-align: center;
                        line-height: $user-label-height;
                        font-size: 10px;
                        color: white;
                        background-color: rgb(245,166,35);
                        border-radius: 5px;
                    }
                    .userVerification-label {
                        float: left;
                        height: $user-label-height;
                        width: $user-label-width;
                        margin: 0 auto;
                        text-align: center;
                        font-size: 10px;
                        color: white;
                        line-height: $user-label-height;
                        background-color: rgb(177,212,28);
                        border-radius: 5px;
                    }
                }
                .username-section {
                    margin-top: 25px;
                    height: 21px;
                    font-size: 15px;
                }
            }

            .email-section {
                float: left;
                width: 14px;
                margin-left: 16px;
                margin-top: 30px;
                img {
                    height: 12px;
                    width: 14px;
                }
            }

            .quit-section {
                float: left;
                width: 22px;
                height: 16px;
                margin-left: 11px;
                margin-top: 28px;
                padding: 0px;
                .quit-button-section {
                    float: left;
                    border: none;
                    padding: 0px;
                    margin: 0 auto;
                    width: 22px;
                    height: 16px;
                    font-size: 11px;
                }
            }
        }
    }
}